@import './fonts.scss';

p {
  font-size: larger;
  min-width: 250px;
}

@keyframes updateanimationkeyframes {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.play-update-animation {
  animation-name: updateanimationkeyframes;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
}

.v-application {
  .v-app-bar {
    // This is important to see the top menu bar using the full viewport width,
    // when using any `<v-navigation-drawer />` positioned on the right side.
    right: 0 !important;
  }

  .v-main {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;

    &__wrap {
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
    }
  }

  .v-menu__content {
    .v-list-item {
      cursor: pointer;
    }
  }
}

